[Unit]
Description=Check for a new Pedy IPA periodically

[Timer]
OnBootSec=10m
OnUnitActiveSec=5min
Persistent=true

[Install]
WantedBy=timers.target
